*.iml
*.ipr
*.iws

.externalNativeBuild
.DS_Store
.gradle
.idea

local.properties

/local.properties
/captures
/projectFilesBackup

/build
/app/build

/.idea/caches
/.idea/codeStyles
/.idea/dictionaries
/.idea/inspectionProfiles
/.idea/libraries
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/encodings.xml
